@font-face {
  font-family: 'Knockout';
  src: url('/fonts/Knockout.otf') format('opentype');
}

@font-face {
  font-family: 'JimmyCrackCorn';
  src: url('/fonts/JimmyCrackCornPro.otf') format('opentype');
}


html, body { background: #a96e36 url(/images/cork.jpg);}
body {
  font-size: 16px;
  font-family: 'JimmyCrackCorn', 'Helvetica Neue', Helvetica, 'MS Sans Serif', Arial, sans-serif;
}

p  { margin: 8px 0; }
h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }

.clear { clear: both; }
.left  { display: block; float: left; }
.right { display: block; float: right; }

#wrapper {
  padding: 90px 65px 20px 65px;
}


#navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 47px;
  padding-left: 65px;
  line-height: 39px;
  background: url(/images/navigation_background.png) repeat-x;
  z-index: 2;
}

#navigation a {
  color: #fff;
  font-family: 'Knockout', arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
  text-transform: uppercase;
}

#navigation a.logout {
  float: right;
  margin-right: 65px;
  font-size: 16px;
}


#posts {
  margin-right: 310px;
}

#posts .post {
  position: relative;
  float: left;
  width: 300px;
  height: 175px;
  margin: 0 20px 30px 0;
  background: #fffcaf;
  -moz-box-shadow:    0 0 8px rgba(0,0,0, 0.75);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0, 0.75);
}

#posts .post:nth-child(1n) { background: #a2c9e4; -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); }
#posts .post:nth-child(2n) { background: #e8b7b7; -moz-transform: rotate(1deg); -webkit-transform: rotate(1deg); }
#posts .post:nth-child(3n) { background: #cdeabb; -moz-transform: rotate(1deg); -webkit-transform: rotate(1deg); }
#posts .post:nth-child(4n) { background: #fffcaf; -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); }
#posts .post:nth-child(5n) { background: #d8b3e6; -moz-transform: rotate(-1deg); -webkit-transform: rotate(-2deg); }

#posts .post h1 {
  height: 25px;
  padding: 0 10px;
  font-size: 21px;
  font-weight: normal;
  line-height: 25px;
}
#posts .post h1 span.name {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 16px;
}

#posts .post .content {
  overflow: hidden;
  position: relative;
  top: -2px;
  height: 150px;
  border-top: 1px solid #9a4273;
}

#posts .post:nth-child(1n) .content { background: url(/images/card_blue_background.png); }
#posts .post:nth-child(2n) .content { background: url(/images/card_pink_background.png); }
#posts .post:nth-child(3n) .content { background: url(/images/card_green_background.png); }
#posts .post:nth-child(4n) .content { background: url(/images/card_yellow_background.png); }
#posts .post:nth-child(5n) .content { background: url(/images/card_purple_background.png); }

#posts .post img.pin {
  position: absolute;
  top: -19px;
  left: 50%;
  margin-left: -11px;
}

#posts .post:nth-child(1n) img.pin { left: 52%; }
#posts .post:nth-child(2n) img.pin { left: 44%; }
#posts .post:nth-child(3n) img.pin { left: 44%; }
#posts .post:nth-child(4n) img.pin { left: 52%; }
#posts .post:nth-child(5n) img.pin { left: 62%; }

#posts .post p {
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  line-height: 26px;
}

#posts .post p.from {
  margin-top: 3px;
  font-size: 16px;
}


#actions {
  float: right;
  width: 276px;
  padding: 20px 12px 0 12px;
  color: #fff;
  background: rgba(0,0,0, 0.4);
  border-radius:         4px;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
}

#actions h1 {
  margin-bottom: 0.5em;
  font-family: 'Knockout', arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

#actions ul {
  float: right;
  padding-bottom: 15px;
  line-height: 35px;
}

#actions ul li {
  display: inline;
  margin-right: 5px;
}

#actions ul li a {
  color: #fff;
  text-decoration: none;
}