<% content_for :head do %>
  <%= javascript_include_tag 'posts' %>
<% end %>

<div id="actions">
  <% if signed_in? %>
    <%= render :partial => 'add_post.html.erb' %>
  <% else %>
    <%= render :partial => 'sessions/sign_in.html.erb' %>
  <% end %>
</div>

<div id="posts">
  <%= render :partial => 'post', :collection => posts %>
</div>
