<div id="actions">
  <% if signed_in? %>
    <%= render :partial => 'add_post.html.erb' %>
  <% else %>
    <%= render :partial => 'sessions/sign_in.html.erb' %>
  <% end %>
</div>

<div id="posts">
  <%= render :partial => 'posts.html.erb', :locals => {:posts => @posts} %>
</div>